{% extends "main.html" %}
{% block content %}
<div class="row">
	<div class="col-md-10">
		<h2>{{category.name}}</h2>
	</div>
</div>
{% for item in items %}
		<a href = "{{url_for('showItems', category_name= category.name, item_name = item.name)}}">
			<div class="row">
					<div class="col-md-10 category">
						<h3>{{item.name}}</h3>
					</div>
			</div>
		</a>
{% endfor %}
{% if loggedin %}
<div class="row">
	<div class="col-md-10 category">
	<a href = "{{url_for('addItemRenderer', category_name=category.name)}}"><button type="submit" class="btn btn-default" id="submit" type="submit">Add Item</button><br><br></a>
</div>	
{% endif %}				
{% endblock %}